.close[data-v-29c52665] {
    padding: .2rem 0
}

.close img[data-v-29c52665] {
    height: .32rem
}

.head[data-v-29c52665] {
    box-shadow: 0 .08rem .16rem 0 rgba(0,0,0,.05);
    background: transparent;
}

.head .flex[data-v-29c52665] {
    align-items: center;
    position: relative;
    height: .88rem
}

.head .myName[data-v-29c52665] {
    margin-right: .2rem
}

.head .myName img[data-v-29c52665] {
    height: .56rem;
    border-radius: .56rem;
    width: .56rem
}

.head .name[data-v-29c52665] {
    font-weight: 700;
    font-size: .32rem;
    text-align: center;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 4rem;
    margin-left: -2rem;
    left: 50%
}

.head .str[data-v-29c52665] {
    max-width: 2rem;
    text-align: right
}

.head .lang img[data-v-29c52665] {
    height: .4rem;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(245deg) brightness(104%) contrast(104%);
}

.head .clear[data-v-29c52665] {
    margin-right: .2rem
}

.head .clear img[data-v-29c52665] {
    width: .4rem;
    height: .4rem;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(245deg) brightness(104%) contrast(104%);
}

.head .Set[data-v-29c52665] {
    margin-left: .22rem
}

.head .Set img[data-v-29c52665] {
    height: .4rem;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(245deg) brightness(104%) contrast(104%);
}

.head .notice[data-v-29c52665] {
    position: relative;
    margin-right: .32rem
}

.head .notice img[data-v-29c52665] {
    height: .4rem;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(245deg) brightness(104%) contrast(104%);
}

.head .notice span[data-v-29c52665] {
    position: absolute;
    background: #e72a2a;
    color: #fff;
    border-radius: 50%;
    font-size: .2rem;
    padding: 0 .08rem;
    top: -.1rem;
    right: -.1rem
}

.head .back img[data-v-29c52665] {
    height: .36rem;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(245deg) brightness(104%) contrast(104%);
}
