.page[data-v-decd48ac] {
    min-height: 100vh;
    background-size: cover
}

.page .headers[data-v-decd48ac] {
    position: fixed;
    top: 0px;
    width: 100%;
    max-width: 8.5rem;
    height: 0.7rem;
    z-index: 100;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background: linear-gradient(81deg, #03031d, #03031f, #09096e);
}

.page .headers.on[data-v-decd48ac] {
    background: #fff
}

.page .headers.fixed[data-v-decd48ac] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.page .footer[data-v-decd48ac] {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 8.5rem;
    z-index: 9;
    background: #fff
}

.page .content-container[data-v-decd48ac] {
    width: 100%;
    position: relative;
    flex-grow: 1;
    padding-top: .6rem;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    height: max-content;
}

.page .back-top[data-v-decd48ac] {
    position: absolute;
    bottom: 3rem;
    right: .1rem;
    z-index: 99;
    width: 1.4rem;
    height: 1.6rem
}
