.bann[data-v-5959a183] {
  padding:.26rem 0;
  background:#f2f2f2
}
.bann .swiper[data-v-5959a183] {
  margin-right:.16rem;
  padding:.32rem .24rem .32rem .32rem;
  align-items:center;
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-image:url(../../static/img/bg_vip0.6c12c526.png)
}
.bann .swiper .icon[data-v-5959a183] {
  background-size:100% 100%;
  background-image:url(../../static/img/icon_vip0.95dc04b5.png)
}
.bann .swiper.v1[data-v-5959a183] {
  background-image:url(../../static/img/bg_vip1.29dd404f.png)
}
.bann .swiper.v1 .icon[data-v-5959a183] {
  background-size:100% 100%;
  background-image:url(../../static/img/icon_vip1.a9317ede.png)
}
.bann .swiper.v2[data-v-5959a183] {
  background-image:url(../../static/img/bg_vip2.a1c623d5.png)
}
.bann .swiper.v2 .icon[data-v-5959a183] {
  background-size:100% 100%;
  background-image:url(../../static/img/icon_vip2.1fee8c0c.png)
}
.bann .swiper.v3[data-v-5959a183] {
  background-image:url(../../static/img/bg_vip3.a44b0b6c.png)
}
.bann .swiper.v3 .icon[data-v-5959a183] {
  background-size:100% 100%;
  background-image:url(../../static/img/icon_vip3.9522524d.png)
}
.bann .swiper.v4[data-v-5959a183] {
  background-image:url(../../static/img/bg_vip4.99df648b.png)
}
.bann .swiper.v4 .icon[data-v-5959a183] {
  background-size:100% 100%;
  background-image:url(../../static/img/icon_vip4.c0dad11e.png)
}
.bann .swiper.v5[data-v-5959a183] {
  background-image:url(../../static/img/bg_vip5.2eafc4d1.png)
}
.bann .swiper.v5 .icon[data-v-5959a183] {
  background-size:100% 100%;
  background-image:url(../../static/img/icon_vip5.2ea34a0f.png)
}
.bann .swiper.v6[data-v-5959a183] {
  background-image:url(../../static/img/bg_vip6.762ce819.png)
}
.bann .swiper.v6 .icon[data-v-5959a183] {
  background-size:100% 100%;
  background-image:url(../../static/img/icon_vip6.bfbc2a9f.png)
}
.bann .swiper .ico img[data-v-5959a183] {
  width:1.78rem;
  height:auto
}
.bann .swiper .flex1[data-v-5959a183] {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height:1.78rem
}
.bann .swiper .name[data-v-5959a183] {
  font-size:.4rem;
  display:flex;
  align-items:center;
  font-weight:600;
  line-height:.44rem
}
.bann .swiper .name .icon[data-v-5959a183] {
  width:.44rem;
  height:.44rem;
  margin-right:.16rem
}
.bann .swiper .name.themeColor5[data-v-5959a183] {
  color:#f0c134
}
.bann .swiper .name.themeColor6[data-v-5959a183] {
  color:#ffb96a
}
.bann .swiper .dj[data-v-5959a183] {
  margin-bottom:.24rem;
  border-radius:.5rem;
  overflow:hidden;
  width:fit-content;
  position:relative
}
.bann .swiper .dj span[data-v-5959a183] {
  display:block;
  padding:0 .24rem;
  height:.4rem;
  color:#fff;
  font-family:PingFang SC;
  font-size:.24rem;
  font-style:normal;
  font-weight:400;
  line-height:.4rem;
  position:relative;
  z-index:1
}
.bann .swiper .dj .dj-bg[data-v-5959a183] {
  opacity:.3;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%
}
.bann .swiper .str[data-v-5959a183] {
  opacity:.6;
  font-size:.24rem
}
.bann .swiper .str.themeColor5[data-v-5959a183] {
  color:#f0c134
}
.bann .swiper .str.themeColor6[data-v-5959a183] {
  color:#ffb96a
}
.bg[data-v-5959a183] {
  background:#f2f3f5;
  height:40%;
  width:100%
}
.box[data-v-5959a183] {
  background:#fff;
  border-radius:.32rem .32rem 0 0;
  padding:.32rem .28rem
}
.box .list[data-v-5959a183] {
  background:#fff;
  border:.02rem solid #ebebeb;
  border-radius:.2rem;
  padding:.26rem;
  padding-bottom:.02rem;
  margin-bottom:.2rem;
  overflow:hidden
}
.box .list .he[data-v-5959a183] {
  align-items:center;
  padding:.26rem;
  margin:-.26rem;
  margin-bottom:.14rem;
  padding-bottom:.24rem;
  border-bottom:.02rem solid #ebebeb
}
.box .list .he .ico img[data-v-5959a183] {
  border-radius:50%
}
.box .list .he img[data-v-5959a183] {
  height:.6rem;
  width:.64rem
}
.box .list .he .flex1[data-v-5959a183] {
  padding:0 .18rem
}
.box .list .he .n[data-v-5959a183] {
  font-weight:600;
  font-size:.28rem;
  line-height:.39rem;
  color:#000
}
.box .list .he .s img[data-v-5959a183] {
  height:.2rem;
  width:auto
}
.box .list .sn[data-v-5959a183] {
  align-items:center
}
.box .list .sn button[data-v-5959a183] {
  border-radius:.6rem;
  border:.02rem solid #ebebeb;
  height:.64rem;
  align-items:center;
  background:#fff;
  display:flex;
  color:#a0d211;
  font-size:.26rem;
  font-weight:600;
  padding:0 .22rem
}
.box .list .sn button img[data-v-5959a183] {
  height:.24rem;
  margin-right:.08rem
}
.box .list .sn .b2[data-v-5959a183] {
  background:#000;
  border:0
}
.box .list .li[data-v-5959a183] {
  flex-wrap:wrap;
  padding-bottom:.16rem
}
.box .list .li li[data-v-5959a183] {
  width:50%;
  margin:.16rem 0
}
.box .list .li li .n[data-v-5959a183] {
  color:#929292;
  font-size:.24rem;
  margin-bottom:.16rem
}
.box .list .li li .s[data-v-5959a183] {
  color:#000;
  font-size:.28rem;
  font-weight:600
}
.box .list .str img[data-v-5959a183] {
  height:1.28rem
}
.box .list .jd[data-v-5959a183] {
  padding-bottom:.3rem
}
.box .list .jd .flex[data-v-5959a183] {
  align-items:center
}
.box .list .jd .flex .n[data-v-5959a183] {
  color:#929292;
  font-size:.24rem;
  flex:1
}
.box .list .jd .flex .s[data-v-5959a183] {
  color:#929292;
  font-size:.24rem
}
.box .list .jd .src[data-v-5959a183] {
  height:.16rem;
  border-radius:.4rem;
  background:#f2f2f2;
  margin-top:.14rem
}
.box .list .jd .src span[data-v-5959a183] {
  display:block;
  border-radius:.08rem;
  height:.16rem
}
.box .list .jd .src span i[data-v-5959a183] {
  display:block;
  border-radius:.4rem;
  border:.02rem solid #fff;
  width:.4rem;
  height:.24rem;
  float:right;
  margin-top:-.04rem;
  box-sizing:border-box
}
