.bg[data-v-7e039ef0] {
  background: linear-gradient(81deg, #03031d, #03031f, #09096e);
  width:100%;
  height:50%
}
.income[data-v-7e039ef0] {
  padding:.47rem .1rem;
  margin:.24rem 0;
  position:relative;
  border-radius:.24rem;
  overflow:hidden
}
.income[data-v-7e039ef0]:before {
  display:block;
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:url(../../static/img/be-bg.d34dfd99.png) no-repeat;
  background-size:100% 100%
}
.income .name[data-v-7e039ef0] {
  position:relative;
  z-index:1;
  font-weight:400;
  font-size:.24rem;
  line-height:.34rem;
  text-align:center;
  color:hsla(0,0%,100%,.6)
}
.income .am[data-v-7e039ef0] {
  position:relative;
  z-index:1;
  margin:.04rem 0 0 0;
  font-weight:600;
  font-size:.44rem;
  line-height:.62rem;
  text-align:center;
  color:#fff
}
.main[data-v-7e039ef0] {
  background: transparent;
  border-radius:.32rem .32rem 0 0;
  padding:.24rem 0
}
.main .cname[data-v-7e039ef0] {
  font-weight:600;
  font-size:.3rem;
  line-height:.42rem;
  color: #ffffff;
  position:relative
}
.main .tab[data-v-7e039ef0] {
  margin:.26rem -.26rem;
  padding:0 .26rem .1rem .26rem;
  display:flex;
  border-bottom:.02rem solid #ebebeb
}
.main .tab .it[data-v-7e039ef0] {
  height:.72rem;
  align-items:center;
  font-size:.26rem;
  margin-right:.24rem
}
.main .tab .it img[data-v-7e039ef0] {
  height:.1rem;
  margin-left:.1rem
}
.main .list li[data-v-7e039ef0] {
  padding:.16rem 0;
  align-items:center
}
.main .list li .n[data-v-7e039ef0] {
  margin-bottom:.05rem
}
.main .list li .time[data-v-7e039ef0] {
  color:#929292;
  font-size:.24rem;
  margin-top:.14rem
}
.main .list li .am[data-v-7e039ef0] {
  color:#000;
  font-size:.3rem
}
.line1[data-v-7e039ef0] {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  margin-bottom:.24rem
}
.line1 .x[data-v-7e039ef0] {
  width:100%;
  height:.02rem;
  background: none;
  padding:0;
  margin:.1rem 0
}
.line1 li[data-v-7e039ef0] {
  width:48.5%;
  display:flex;
  align-items:center;
  border-radius:.16rem;
  padding:.24rem;
  background: linear-gradient(72deg, #042d50, #070808);
}
.line1 li img[data-v-7e039ef0] {
  height:.56rem
}
.line1 li .ico[data-v-7e039ef0] {
  margin-right:.12rem
}
.line1 li .n[data-v-7e039ef0] {
  font-weight:400;
  font-size:.24rem;
  line-height:.34rem;
  color: #c9c0c0;
}
.line1 li .s[data-v-7e039ef0] {
  font-weight:500;
  font-size:.28rem;
  line-height:.39rem;
  color: #ffffff;
}
