.reward_card[data-v-a8d9cade] {
    width: 100%;
    line-height: 1;
    margin-top: .2rem;
    background: linear-gradient(72deg, #042d50, #070808);
    border-radius: .24rem
}

.reward_card .tips_image[data-v-a8d9cade] {
    width: 100%;
    position: relative
}

.reward_card .tips_image img[data-v-a8d9cade] {
    width: 100%
}

.reward_card .tips_image .text_box[data-v-a8d9cade] {
    position: absolute;
    left: .2rem;
    top: 50%;
    transform: translateY(-50%);
    max-width: 70%;
    color: #fff
}

.reward_card .tips_image .text_box .name[data-v-a8d9cade] {
    font-size: .48rem;
    font-weight: 600
}

.reward_card .tips_image .text_box .tips_text[data-v-a8d9cade] {
    color: hsla(0,0%,100%,.6);
    font-size: .32rem;
    font-weight: 400;
    margin-top: .1rem
}

.reward_card .total_rewards[data-v-a8d9cade] {
    padding: .32rem .28rem;
    display: flex;
    align-items: center
}

.reward_card .total_rewards .rewards_box div[data-v-a8d9cade] {
    font-family: PingFang SC;
    font-size: .26rem
}

.reward_card .total_rewards .rewards_box div[data-v-a8d9cade]:first-of-type {
    color: #ffffff;
}

.reward_card .total_rewards .rewards_box div[data-v-a8d9cade]:nth-of-type(2) {
    margin-top: .2rem;
    font-size: .28rem;
    font-weight: 700
}

.reward_card .total_rewards[data-v-a8d9cade] .van-icon-arrow {
    margin-left: auto;
    color: #929292
}

.tab_box[data-v-ef18793c] {
    font-family: PingFang SC;
    overflow: hidden;
    background: transparent;
}

.tab_box .ul[data-v-ef18793c] {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: .32rem .32rem 0 0;
    z-index: 5
}

.tab_box .ul.ul1[data-v-ef18793c],.tab_box .ul[data-v-ef18793c] {
    background: transparent;
}

.tab_box .ul.ul2[data-v-ef18793c] {
    background: linear-gradient(180deg,#fff0d1,#fff)
}

.tab_box .ul.ul3[data-v-ef18793c] {
    background: linear-gradient(180deg,#dfe7ff,#fff)
}

.tab_box .ul.ul4[data-v-ef18793c] {
    background: linear-gradient(180deg,#e9deff,#fff)
}

.tab_box .ul.ul5[data-v-ef18793c] {
    background: linear-gradient(180deg,#d3b586,#fff)
}

.tab_box .ul.ul6[data-v-ef18793c] {
    background: linear-gradient(180deg,#f8d5c0,#fff)
}

.tab_box .ul li[data-v-ef18793c] {
    flex: 1;
    font-family: PingFang SC;
    font-size: .32rem;
    text-align: center;
    font-weight: 700;
    padding: .28rem 0
}

.tab_box .ul .noactive[data-v-ef18793c] {
    color: #929292
}

.tab_box .ul .active[data-v-ef18793c] {
    background: linear-gradient(72deg, #042d50, #070808);
    position: relative;
    border-top-right-radius: .32rem;
    border-top-left-radius: .32rem
}

.tab_box .ul .active[data-v-ef18793c]:after {
    content: "";
    display: block;
    width: .4rem;
    height: .06rem;
    border-radius: .16rem;
    background-color: #2486d6;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%)
}

.tab_box .ul .active.themeColor1[data-v-ef18793c]:after {
    background-color: #405a86
}

.tab_box .ul .active.themeColor2[data-v-ef18793c]:after {
    background-color: #c88d16
}

.tab_box .ul .active.themeColor3[data-v-ef18793c]:after {
    background-color: #4a68c0
}

.tab_box .ul .active.themeColor4[data-v-ef18793c]:after {
    background-color: #6025d6
}

.tab_box .ul .active.themeColor5[data-v-ef18793c]:after {
    background-color: #362d1f
}

.tab_box .ul .active.themeColor6[data-v-ef18793c]:after {
    background-color: #942929
}

[data-v-a1bf5ce4] .van-popup--center {
    width: 85%;
    max-width: 8rem
}

.card[data-v-a1bf5ce4] {
    padding: .4rem;
    border-radius: .24rem;
    background-color: #fff;
    line-height: 1.1
}

.card .close_box[data-v-a1bf5ce4] {
    display: flex;
    align-items: center
}

.card .close_box .cross[data-v-a1bf5ce4] {
    margin-left: auto;
    font-size: .32rem;
    font-weight: 700
}

.card .title[data-v-a1bf5ce4] {
    color: #000;
    text-align: center;
    font-size: .32rem
}

.card .amount[data-v-a1bf5ce4] {
    color: #000;
    text-align: center;
    font-family: PingFang SC;
    margin-top: .32rem;
    font-size: .56rem;
    font-weight: 700
}

.card .btn_s[data-v-a1bf5ce4] {
    margin-top: .48rem;
    display: flex;
    align-items: center
}

.card .btn_s .btn_0[data-v-a1bf5ce4] {
    flex: 1;
    text-align: center;
    font-family: PingFang SC;
    font-size: .32rem;
    padding: .22rem 0;
    border-radius: .16rem;
    color: #fff
}

.card .btn_s .btn_1[data-v-a1bf5ce4] {
    margin-right: 2%;
    background-color: #0b53b4;
    color: #fff
}

.card .btn_s .btn_2[data-v-a1bf5ce4] {
    border: .02rem solid #000;
    background-color: #000;
    color: #fff
}

.card_list[data-v-ae1b0c26] {
    line-height: 1.1;
    margin-top: .4rem
}

.card_list .card[data-v-ae1b0c26] {
    margin-top: .24rem;
    padding: .32rem .28rem;
    border-radius: .2rem;
    box-shadow: 0 0 .16rem .05rem rgba(0,0,0,.1)
}

.card_list .card .title_box[data-v-ae1b0c26] {
    display: flex;
    flex-direction: column
}

.card_list .card .title_box .title_top[data-v-ae1b0c26] {
    flex: 1
}

.card_list .card .title_box .title_top .title[data-v-ae1b0c26] {
    color: #ffffff;
    font-weight: 700;
    font-size: .28rem
}

.card_list .card .title_box .title_bot[data-v-ae1b0c26] {
    margin-top: .2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .22rem
}

.card_list .card .title_box .title_bot .illustrate[data-v-ae1b0c26] {
    color: #929292;
    margin-bottom: .1rem
}

.card_list .card .title_box .btn_box[data-v-ae1b0c26] {
    flex: 0 0 auto;
    margin-left: .2rem
}

.card_list .card .title_box .btn_box>div[data-v-ae1b0c26] {
    line-height: 1;
    padding: .18rem .32rem;
    text-align: center;
    font-size: .24rem;
    position: relative;
    border-radius: .12rem
}

.card_list .card .title_box .btn_box .btn_t3[data-v-ae1b0c26] {
    color: #929292;
    background: #ebebeb
}

.card_list .card .title_box .btn_box .btn_t1 div[data-v-ae1b0c26] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    border-radius: .12rem
}

.card_list .card .title_box .btn_box .btn_t1 span[data-v-ae1b0c26] {
    position: relative;
    z-index: 1
}

.card_list .card .title_box .btn_box .btn_t2[data-v-ae1b0c26] {
    box-sizing: border-box;
    line-height: 1;
    padding: .18rem .32rem;
    text-align: center;
    font-size: .24rem;
    border-radius: .16rem;
    color: #fff
}

.card_list .card .progress_bar_box[data-v-ae1b0c26] {
    width: 100%;
    margin-top: .34rem;
    display: flex;
    align-items: center
}

.card_list .card .progress_bar_box .progressBar[data-v-ae1b0c26] {
    max-width: 75%!important;
    min-width: 75%!important;
    flex: 1;
    height: .12rem;
    border-radius: .05rem;
    background-color: #ebebeb
}

.card_list .card .progress_bar_box .progressBar .progress[data-v-ae1b0c26] {
    width: 0;
    height: 100%;
    border-radius: .05rem;
    background-color: #0b53b4;
    max-width: 100%!important
}

.card_list .card .progress_bar_box .proportion[data-v-ae1b0c26] {
    margin-left: auto;
    text-align: right;
    font-family: PingFang SC;
    font-size: .24rem;
    word-break: break-all
}

.card_list .card .progress_bar_box .proportion span[data-v-ae1b0c26] {
    color: var(--green)
}

.big_box[data-v-06646a51] {
    background: transparent;
}

.container[data-v-06646a51] {
    padding-bottom: .4rem
}

.rules[data-v-06646a51] {
    color: #ffffff;
    text-align: right;
    font-family: PingFang SC;
    font-size: .3rem
}
