.item[data-v-59b15e09] {
  margin-top:.2rem;
  padding-bottom:.1rem
}
h2[data-v-59b15e09] {
  font-size:.3rem;
  font-weight:600;
  color:#222;
  text-align:center;
  line-height:.42rem;
  margin:.34rem 0 .24rem 0
}
.p[data-v-59b15e09] {
  line-height:.44rem
}
