.task_btn[data-v-c31487f4] {
  height:.88rem;
  line-height:.88rem;
  text-align:center;
  color:#fff
}
.logo[data-v-c31487f4] {
  position:absolute;
  top:0;
  width:50%;
  left:50%;
  margin-left:-25%;
  text-align:center;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:1
}
.logo img[data-v-c31487f4] {
  height:.48rem
}
.income[data-v-c31487f4] {
  margin-top:.48rem;
  background:linear-gradient(254deg,#3ca8ff 13.75%,#0068bb);
  color:#fff;
  box-shadow:0 .16rem .4rem rgba(0,0,0,.1);
  border-radius:.24rem;
  padding:.32rem .1rem
}
.income.income1[data-v-c31487f4] {
  background:linear-gradient(254deg,#8ca7db 13.75%,#405a86)
}
.income.income2[data-v-c31487f4] {
  background:linear-gradient(254deg,#e3b24b 13.75%,#ab7a17)
}
.income.income3[data-v-c31487f4] {
  background:linear-gradient(254deg,#6dd7e5 13.75%,#3e5fc2)
}
.income.income4[data-v-c31487f4] {
  background:linear-gradient(254deg,#ac82ff 13.75%,#6825ef)
}
.income.income5[data-v-c31487f4] {
  background:linear-gradient(254deg,#362d1f 13.75%,#110f0b)
}
.income.income6[data-v-c31487f4] {
  background:linear-gradient(254deg,#e66960 13.75%,#902d2d)
}
.income .name[data-v-c31487f4] {
  font-weight:400;
  font-size:.24rem;
  line-height:.34rem;
  text-align:center
}
.income .am[data-v-c31487f4] {
  margin:.04rem 0 .32rem 0;
  font-weight:600;
  font-size:.44rem;
  line-height:.62rem;
  text-align:center;
  color:#fff
}
.income ul[data-v-c31487f4] {
  align-items:center;
  flex-wrap:wrap
}
.income ul .x[data-v-c31487f4] {
  background:hsla(0,0%,100%,.1);
  width:.02rem;
  height:.48rem;
  flex:0.02rem
}
.income ul li[data-v-c31487f4] {
  flex:0 0 50%
}
.income ul li[data-v-c31487f4]:first-child,
.income ul li[data-v-c31487f4]:nth-child(2) {
  margin-bottom:.16rem;
  flex:0 0 50%
}
.income ul li .s[data-v-c31487f4] {
  font-weight:600;
  font-size:.28rem;
  line-height:.39rem;
  text-align:center;
  margin-bottom:.05rem
}
.income ul li .n[data-v-c31487f4] {
  font-size:.24rem;
  line-height:.34rem;
  text-align:center;
  color:hsla(0,0%,100%,.6)
}
.tab[data-v-c31487f4] {
  display:flex;
  align-items:center;
  margin:.24rem 0;
  justify-content:space-between
}
.tab li[data-v-c31487f4] {
  align-items:center;
  display:flex;
  justify-content:center;
  height:.88rem;
  border-radius:.16rem;
  width:48.5%;
  background:#fff
}
.tab li img[data-v-c31487f4] {
  height:.4rem;
  margin-right:.08rem
}
.list[data-v-c31487f4] {
  border-radius:.24rem .24rem 0 0;
  background:#fff;
  padding:0 .26rem;
  border-top:.02rem solid #ebebeb;
  margin:.3rem 0 0 0
}
.list .it[data-v-c31487f4] {
  padding:.24rem 0;
  border-bottom:.02rem solid #ebebeb;
  font-size:.24rem
}
.list .it .name[data-v-c31487f4] {
  font-size:.3rem;
  font-weight:600;
  display:flex;
  align-items:center
}
.list .it .name img[data-v-c31487f4] {
  height:.48rem;
  margin-right:.16rem
}
.list .it .n[data-v-c31487f4] {
  color:#929292
}
.list .it ul[data-v-c31487f4] {
  display:flex;
  margin-top:.22rem
}
.list .it ul li[data-v-c31487f4] {
  flex:1
}
.list .it ul li .n[data-v-c31487f4] {
  margin-bottom:.1rem
}
.list .it ul li[data-v-c31487f4]:nth-child(2) {
  text-align:center
}
.list .it ul li[data-v-c31487f4]:nth-child(3) {
  text-align:right
}
.list .it .total[data-v-c31487f4] {
  padding:.22rem 0 0 0;
  display:flex;
  justify-content:space-between
}
[data-v-c31487f4] .head {
  box-shadow:none!important
}
[data-v-c31487f4] .head.head0 {
  background:linear-gradient(265deg,#7ac4ff 3.65%,#3094e4 94.5%)!important
}
[data-v-c31487f4] .head.head1 {
  background:linear-gradient(265deg,#b4ccf8 3.65%,#6583b4 94.5%)!important
}
[data-v-c31487f4] .head.head2 {
  background:linear-gradient(265deg,#ffdc94 3.65%,#d4aa55 94.5%)!important
}
[data-v-c31487f4] .head.head3 {
  background:linear-gradient(265deg,#acecf5 3.65%,#799cf5 94.5%)!important
}
[data-v-c31487f4] .head.head4 {
  background:linear-gradient(265deg,#bcb9ff 3.65%,#9072ea 94.5%)!important
}
[data-v-c31487f4] .head.head5 {
  background:linear-gradient(265deg,#9d793b 3.65%,#644e28 94.5%)!important
}
[data-v-c31487f4] .head.head6 {
  background:linear-gradient(265deg,#faaf9b 3.65%,#e98484 94.5%)!important
}
[data-v-c31487f4] .headers {
  background:transparent!important;
  box-shadow:none;
  color:#fff
}
.bg[data-v-c31487f4] {
  background:transparent;
  height:100%;
  width:100%;
  background:#f2f3f5
}
.bg[data-v-c31487f4]:before {
  position:absolute;
  display:block;
  content:"";
  top:-.9rem;
  left:0;
  width:100%;
  height:4.4rem;
  background:linear-gradient(265deg,#7ac4ff 3.65%,#3094e4 94.5%);
  background-size:100% 100%;
  border-radius:0 0 .48rem .48rem
}
.bg.bg1[data-v-c31487f4]:before {
  background:linear-gradient(265deg,#b4ccf8 3.65%,#6583b4 94.5%)
}
.bg.bg2[data-v-c31487f4]:before {
  background:linear-gradient(265deg,#ffdc94 3.65%,#d4aa55 94.5%)
}
.bg.bg3[data-v-c31487f4]:before {
  background:linear-gradient(265deg,#acecf5 3.65%,#799cf5 94.5%)
}
.bg.bg4[data-v-c31487f4]:before {
  background:linear-gradient(265deg,#bcb9ff 3.65%,#9072ea 94.5%)
}
.bg.bg5[data-v-c31487f4]:before {
  background:linear-gradient(265deg,#9d793b 3.65%,#644e28 94.5%)
}
.bg.bg6[data-v-c31487f4]:before {
  background:linear-gradient(265deg,#faaf9b 3.65%,#e98484 94.5%)
}
